<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hotel_reservation">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Hotel_Reservation">
        <activity
            android:name=".Hotel_Book_ForManager"
            android:exported="false" />
        <activity
            android:name=".Hotel_Book_ForCustomer"
            android:exported="false" />
        <activity
            android:name=".Log_In_forCustomer"
            android:exported="false" />
        <activity
            android:name=".Log_In_ForManager"
            android:exported="false" />
        <activity
            android:name=".Hotel_Room_List_ForCutomer"
            android:exported="false" />
        <activity
            android:name=".Hotel_Room_List_ForManager"
            android:exported="false" />
        <activity
            android:name=".Add_Room_ForCustomer"
            android:exported="false" />
        <activity
            android:name=".Customer_Home"
            android:exported="false" />
        <activity
            android:name=".Person_Details"
            android:exported="false" />
        <activity
            android:name=".Room_Details_Book_ForCustomer"
            android:exported="false" />
        <activity
            android:name=".Room_details_ForManager"
            android:exported="false" />
        <activity
            android:name=".Add_Person"
            android:exported="false" />
        <activity
            android:name=".Add_Room_ForManager"
            android:exported="false" />
        <activity
            android:name=".Add_Hotel_ForManager"
            android:exported="false" />
        <activity
            android:name=".Hotel_details"
            android:exported="false" />
        <activity
            android:name=".Manager_Home"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>